.nav{
    width: 80%;
    height: 50px;
    background-color: rgb(202, 143, 241);
    position: absolute;
    top: 0;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.nav nav{
    display: flex;
    gap: 100px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: 1s;
}
a:hover{
    transform: scale(1.6);
    transition: 1s;
    color: black;
}