body{
    animation: dark 3s infinite;
}
.candle-container{
    position: absolute;
    top:200px;
    left:40%;
    width:500px;
    height:500px;
    background-color: rgb(255, 255, 255);
    animation: dark 3s infinite;
}
@keyframes dark {
    0%,58%{
        background-color: white;
    }
    59%,89%{
        background-color: black;
    }
}
.floor{
    position: absolute;
    top:270px;
    width: 500px;
    height: 10px;
    background-color: rgb(124, 7, 124);
    border-radius: 20px;
    box-shadow: 1px 5px 20px;
}
.candle1{
    position: absolute;
    left:30%;
    top:190px;
    width:70px;
    height:80px;
    background-color: rgb(255, 255, 255);
    border:4px solid rgb(124, 7, 124);
    border-radius: 5px;
    animation: angry 3s infinite;
}
@keyframes angry {
    0%,58%{
        top:190px;
        transform: scale(1,1);
        background-color: white;
    }
    59%,69%{
        transform: translate(-5px,0);
        background-color: white;
    }
    70%,89%{
        transform: scale(1.1,0.8);
        top:195px;
        background-color: rgb(233, 126, 126);
    }
}
.candle1-eye11{
    width: 10px;
    height: 10px;
    background-color:rgb(124, 7, 124);
    border-radius: 100%;
    position: absolute;
    top:20px;
    left:15px;
    animation: resize1 3s infinite;
}
@keyframes resize1 {
    0%,69%{
    width: 10px;
    height: 10px;
    top:20px;
    left:15px;
    }
    70%,89%{
        height:30px;
        width:5px;
        transform: rotate(105deg);
        top:15px;
        left:10px;
    }
}
.candle1-eye12{
    width: 10px;
    height: 10px;
    background-color:rgb(124, 7, 124);
    border-radius: 100%;
    position: absolute;
    top:20px;
    right:15px;
    animation: resize2 3s infinite;
}
@keyframes resize2 {
    0%,69%{
    width: 10px;
    height: 10px;
    top:20px;
    right:15px;
    }
    70%,89%{
        height:30px;
        width:5px;
        transform: rotate(110deg);
        top:30px;
        right:10px;
    }
}
.candle1-eye21{
    width: 10px;
    height: 10px;
    background-color:rgb(124, 7, 124);
    border-radius: 100%;
    position: absolute;
    top:20px;
    left:15px;
    animation: resize3 3s infinite;
}
@keyframes resize3 {
    0%,69%{
    width: 10px;
    height: 10px;
    top:20px;
    left:15px;
    }
    70%,89%{
        height:30px;
        width:5px;
        transform: rotate(40deg);
        top:30px;
        left:10px;
    }
}
.candle1-eye22{
    width: 10px;
    height: 10px;
    background-color:rgb(124, 7, 124);
    border-radius: 100%;
    position: absolute;
    top:20px;
    right:15px;
    animation: resize4 3s infinite;
}
@keyframes resize4 {
    0%,69%{
    width: 10px;
    height: 10px;
    top:20px;
    right:15px;
    }
    70%,89%{
        height:30px;
        width:5px;
        transform: rotate(40deg);
        top:15px;
        right:10px;
    }
}
.stick1{
    width:5px;
    height:15px;
    background-color: rgb(124, 7, 124);
    position: absolute;
    top:-15px;
    left:34px;
    animation: stick 3s infinite;
}
@keyframes stick {
    0%,58%{
        left:34px;
        transform: rotate(0deg);
    }
    59%,89%{
        left:30px;
        transform: rotate(-79deg);
    }
}
.fire{
    width:16px;
    height:20px;
    background-color: rgb(255, 173, 50);
    border-radius: 30px 30px 20px 20px;
    position: absolute;
    top:-30px;
    left:26px;
    animation: dance-fire 3s infinite;
}
@keyframes dance-fire{
  59%,89% {
    left: 40%;
    width: 0px;
    height: 0px;
  }
  90%,0%,7%,15%,23%,31%,39%,47%,55% {
    left: 40.8%;
    width: 16px;
    height: 20px;
    background: #FFC107;
  }
  94%,3%,11%,19%,27%,35%,43%,51%,58% {
    left: 41.2%;
    width: 16px;
    height: 20px;
    background: #FF9800;
  }
}
.candle2{
    position: absolute;
    left:50%;
    top:120px;
    width:70px;
    height:150px;
    background-color: rgb(255, 255, 255);
    border:4px solid rgb(124, 7, 124);
    border-radius: 5px;
    animation: scale2 3s infinite;
}
@keyframes scale2 {
    0%,56%{
        top:120px;
        transform: scale(1,1);
    }
    55%,56%{
        top:110px;
        transform: scale(1.2,1.1);
    }
    59%{
        top:120px;
        transform: scale(1,1);
    }
}
.candle-eye1{
    width: 10px;
    height: 10px;
    background-color:rgb(124, 7, 124);
    border-radius: 100%;
    position: absolute;
    top:20px;
    left:15px;
    animation: blink 3s infinite;
}
.candle-eye2{
    width: 10px;
    height: 10px;
    background-color:rgb(124, 7, 124);
    border-radius: 100%;
    position: absolute;
    top:20px;
    right:15px;
    animation: blink 3s infinite;
}
@keyframes blink {
    0%{
        transform: scale(1,0);
    }
    5%{
        transform: scale(1,1);
    }
}
.eyes{
    animation: point 3s infinite;
}
@keyframes point {
    0%,45%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(-10px,0);
    }
    89%,95%{
        transform: translate(0,0);
    }
}
.stick2{
    width:5px;
    height:30px;
    background-color: rgb(124, 7, 124);
    position: absolute;
    top:-30px;
    left:34px;
}
.mouth{
    width:0px;
    height: 0px;
    border-radius: 100%;
    background-color: rgb(124, 7, 124);
    position: absolute;
    top:40px;
    left:10px;
    animation: pow 3s infinite;
}
@keyframes pow{
    50%{
        width:0px;
        height: 0px;
    }
    51%,55%{
        width:20px;
        height: 20px;
        transform: scale(2,2);
    }
    56%,58%{
        width:5px;
        height: 5px;
        transform: scale(2,2);
    }
    59%,89%{
        width:0px;
        height:0px;
        transform: scale(2,2);
    }
}
.circle{
    width:0px;
    height: 0px;
    border:0px solid rgba(255, 255, 255, 0.336);
    border-radius: 100%;
    position: absolute;
    top: 160px;
    left:25%;
    animation: smokeC 3s infinite;
}
@keyframes smokeC {
    0%,59%{
    width:0px;
    height: 0px;
    border:0px solid rgba(255, 255, 255, 0.336);
    border-radius: 100%;
    position: absolute;
    top: 160px;
    left:25%;
    }
    67%,88%{
        top: 160px;
        left:25%;
        width: 100px;
        height: 100px;
        border:8px solid rgba(255, 255, 255, 0);
        transform: scale(5,5);
    }
}
.smoke1{
    width:0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    top:160px;
    left:100px;
    animation: smoke1 3s infinite;
}
@keyframes smoke1 {
    0%,58%{
    width:0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    top:160px;
    left:100px;
    }
    58%{
    background-color: rgba(255, 255, 255, 0);
    }
    59%,60%{
    background-color: rgba(255, 255, 255, 0.199);
    width:100px;
    height: 10px;
    }
}
.smoke2{
    width:0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    top:160px;
    left:100px;
    animation: smoke2 3s infinite;
}
@keyframes smoke2 {
    0%,58%{
    width:10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    top:100px;
    left:200px;
    transform: translate(0,0px);
    }
    58%{
    background-color: rgba(255, 255, 255, 0);
    transform: translate(0,0px);
    }
    59%,60%{
    background-color: rgba(255, 255, 255, 0.199);
    width:10px;
    height: 10px;
    transform: translate(1px,-50px);
    }
}